<div class="container">
  <div class="row">
    <div class="col-md-12">
      <hr>
      <h4 align="center">Create Video</h4>
      <ngb-alert align="center"
        (close)="closeAlert()"
        *ngIf="displayVideoCreatedAlert"
        type="success">Video Created!</ngb-alert>
      <hr>
      <button class="btn btn-outline-success"
              routerLink="">Back</button>
    </div>
    <hr>
    <div class="col-md-12">
      <form (ngSubmit)="saveVideo()"
            [formGroup]="videoGroup" novalidate>
        <div class="form-group">
          <label class="center-block col-md-12">Title:
            <input class="form-control"
                   formControlName="title"
            placeholder="Star Wars"
            [ngClass]="{
            'is-invalid':isInvalid('title'),
            'is-valid':isValid('title')}">
            <div *ngIf="isInvalid('title')"
                 class="invalid-feedback">
              <div *ngIf="videoGroup.controls['title'].errors.required">
                Title is required.
              </div>
              <div *ngIf="videoGroup.controls['title'].errors.minlength">
                Title must be at least 2 characters long.
              </div>
            </div>
            <label>
              Genres:
              <app-genres
              [genres]="genresIn"></app-genres>
            </label>
          </label>
          <button
            [disabled]="videoGroup.invalid"
            type="submit"
            class="btn btn-outline-info pull-right">
            <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
