<div class="container">
  <div class="row">
    <div class="col-md-12">
      <hr>
      <h4>Create Video</h4>
      <hr>
    </div>
    <div class="col-md-12">
      <form (ngSubmit)="saveVideo()" [formGroup]="videoGroup" novalidate>
        <div class="form-group">
          <label class="center-block">Title:
            <input class="form-control" formControlName="title">
          </label>
          <button
            [disabled]="videoGroup.invalid"
            type="submit"
            class="btn btn-outline-info">
            <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
